#如果使用deepseek模型，python main.py --provider deepseek --model deepseek-chat
DEEPSEEK_API_KEY=sk-xxxx

#如果使用openai模型， python main.py --provider openai --model gpt-4o
OPENAI_API_KEY=xxx

#如果使用vllm模型, python main.py --provider vllm --model xxx
VLLM_API_KEY=xxxxx
VLLM_BASE_URL="http://xxxx:xxx/v1"

# 字节豆包模型, python main.py --provider bytedance --model deepseek-v3
BYTEDANCE_API_KEY=xxxx

# 智谱模型, python main.py --provider zhipu --model glm-4
ZHIPU_API_KEY=XXXX

# MCP单个工具的最大超时时间，默认为8秒，如果你的工具耗时很长，可以增加这个时间
MCP_TIMEOUT=8
